$primary-color: #000000;
$secondary-color: #0080f8;
$background-color: #28c3df;
$text-color: #333;
$color: rgb(180, 80, 80);

$breakpoint-sm: 768px;
$breakpoint-md: 1024px;

$container-width: 1200px;

$font-family: 'Arial', sans-serif;
