// Couleurs
$primary-color: #2e4758;
$secondary-color: #415248;
$background-color: #f4f4f4;
$text-color: #333;
$color: rgb(180, 80, 80);

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;

// Tailles
$container-width: 1200px;

// Polices
$font-family: 'Arial', sans-serif;
