@import './variables';
@import './mixins';
@import './intro';
@import './typography';
@import './animations';
@import './header';
@import './sections';

body {
  font-family: $font-family;
  margin: 0;
  line-height: 1.6;
  background-color: $background-color;
}

// @include header.styles();
// @include intro.styles();
// @include sections.styles();
// @include animations.styles();

  @include styles();